<!DOCTYPE html>    
<html>    
<head>    
    <title>Predict</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">        
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/3228952.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>     
<body> 
<nav id="nav">
    <div id="logo">
        
        <img src="{{ url_for('static', filename='images/3228952.png') }}" alt="Logo" id="img">
        <h3  id="agro">Agrow</h3>
    </div>
    <div id="list">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i> Home </a></li>
            <li><a href="/form"><i class="fa-solid fa-cash-register"></i> Predict </a></li>
            <li><a href="/weather"><i class="fa-solid fa-cloud" ></i> Weather</a></li>
            <li><a href="/Iot"><i class="fa-brands fa-pagelines"></i> Crop</a></li>
        </ul>
    </div>
    
</nav>
<div id="heading"><h1 > An IoT Based Crop Recomandation System using Machine Learning</h1></div>
<div class="login"> 
    <h2 style="text-align: center;" id="innertitle">Enter land and atmospheatre details</h2><br> 
    
<div class="entry">
    <form id="login" action="/predict" method="post">
        <label><b>Nitrogen:     
         </b><br>    
         </label> <input type="text" class="input"name="N" placeholder="Nitrogen " required="required"/> <br><br>
        <label><b>Phosphorus:     
         </b><br>    
         </label><input type="text" class="input"name="P" placeholder="Phosphorus " required="required"/><br><br>
        <label><b>Potassium:     
         </b><br>    
         </label><input type="text" class="input"name="k" placeholder="Potassium " required="required"/><br><br>
        <label><b>Temperature:     
         </b><br>    
         </label><input type="text" class="input"name="temperature" placeholder="temperature " required="required"/><br><br>
        <label><b>Humidity:     
         </b><br>    
         </label><input type="text" class="input"name="humidity" placeholder=" Humidity" required="required"/><br><br>
        <label><b>pH:     
         </b><br>    
         </label><input type="text" class="input"name="ph" placeholder="ph " required="required"/><br><br>
        <!-- <label><b>Rainfall:     
         </b><br>    
         </label><input type="text"class="input" name="rainfall" placeholder="rainfall " required="required"/><br><br> -->
 
        <div id="btncontainer">
            <button align="right" type="submit" class="btn">Predict Crop   </button>
            <button align="right" type="reset" class="btn">Reset  </button>
        </div>
 </form>
</div >

</div>
<div id="footer">
    <footer>
        <Center>&copy; 2024-25, Design and Developed by Abhi Ram, Chandan Gowda, Gowtham, Likhitha Priya</Center>
        <hr>
    </footer>
</div>


</body>    
</html>