<!DOCTYPE html>    
<html>    
<head>    
    <title>Agrow</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">        
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/3228952.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>     
<body> 
<nav id="nav">
    <div id="logo">
        
        <img src="{{ url_for('static', filename='images/3228952.png') }}" alt="Logo" id="img">
        <h3  id="agro">Agrow</h3>
    </div>
    <div id="list">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i> Home </a></li>
            <li><a href="/form"><i class="fa-solid fa-cash-register"></i> Predict </a></li>
            <li><a href="/weather"><i class="fa-solid fa-cloud" ></i> Weather</a></li>
            <li><a href="/Iot"><i class="fa-brands fa-pagelines"></i> Crop</a></li>
        </ul>
    </div>
    
</nav>
<div class="container">
    
</div>

    <div class="centertitle">
        <div class="innerc">
            <h1 id="title">An IOT Based Crop Recomandation System using Machine Learning</h1>
            <hr id="hori">
            <button id="btn"><a href="/form">Predict</a></button>
        </div>
    </div>
    <div id="footer">
            <footer>
                <Center>&copy; 2024-25, Design and Developed by Abhi Ram, Chandan Gowda, Gowtham, Likhitha Priya</Center>
                <hr>
            </footer>
    </div>



</body>    
</html>